section.about
  div.content
    div.about__inner
      div.about__box
        div.about__box-text
          h2.title Create your landing page with shepa to start your business 
          p.about__box-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse.
          a.button.about__box-button Read More >
        div.about__box-img-wrapper
          img.about__box-img(src="images/about-img.png" alt="Section about picture")
      div.about__box
        div.about__box-text.about__box-text_order2
          h2.title Create your landing page with shepa to start your business 
          p.about__box-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse.
          a.button.about__box-button Read More >
        div.about__box-img-wrapper
          img.about__box-img(src="images/about-img2.png" alt="Section about picture")