footer.footer
  div.content
    div.footer__inner
      div.footer__columns-wraper
        div.footer__two-columns-wrapper
          div.footer__column
            h3.footer__column-title About
            a.footer__column-item(href="#") About Us
            a.footer__column-item(href="#") History
            a.footer__column-item(href="#") Join
          div.footer__column
            h3.footer__column-title site map
            a.footer__column-item(href="#") Privacy Policy
            a.footer__column-item(href="#") Terms of Services
            a.footer__column-item(href="#") FAQ’s
        div.footer__two-columns-wrapper  
          div.footer__column
            h3.footer__column-title services
            a.footer__column-item(href="#") Web Design
            a.footer__column-item(href="#") SEO
            a.footer__column-item(href="#") Customer Support
          div.footer__column
            h3.footer__column-title contact us
            a.footer__column-item(href="mailto:info@yourmail.com")
              i.fa.fa-envelope-o(aria-hidden="true")
              |info@yourmail.com
            a.footer__column-item(href="phone:+1 234 5677 213")  
              i.fa.fa-phone(aria-hidden="true")
              |+1 234 5677 213
            div.footer__social-wrapper
              a.footer__social-link
                i.fa.fa-facebook-square(aria-hidden="true")
              a.footer__social-link
                i.fa.fa-twitter(aria-hidden="true")      
              a.footer__social-link
                i.fa.fa-instagram(aria-hidden="true")      
              a.footer__social-link
                i.fa.fa-youtube-play(aria-hidden="true")
      div.copyright-wrapper
        p.copyright Copyright © SHEPA 2018 All Rights Reserved                                 