header.header
  div.header__inner
    a.logo
      img.logo__img(src="images/logo.png", alt="Logo")
    div.menu-toggle
      div.menu-toggle__line
      div.menu-toggle__line
      div.menu-toggle__line
    nav.menu
      a.menu__link(href="#") Features
      a.menu__link(href="#") Services
      a.menu__link(href="#") Testimonials
      a.menu__link(href="#") Pricing
      a.menu__link(href="#") blog
      a.menu__link(href="#") CONTACT
nav.mobile-menu
  ul
    li
      a.mobile-menu__link(href="#") Features
    li  
      a.mobile-menu__link(href="#") Services
    li 
      a.mobile-menu__link(href="#") Testimonials
    li  
      a.mobile-menu__link(href="#") Pricing
    li
      a.mobile-menu__link(href="#") blog
    li
      a.mobile-menu__link(href="#") CONTACT
            