section.home
  div.content
    include _header
    div.home__inner
      div.home__box
        div.home__box-text
          h2.home__box-title Your Services is ready for launch
          p.home__box-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua
          a.button Get Started Now
        div.home__box-img-wrapper
          img.home__box-img(src="images/home-img.png" alt="Picture girl works for a laptop")