section.pricing
  div.content
    div.pricing__inner
      div.title-wrapper
        h2.title Suitable plans for business
      div.subscription-period
        a.subscription-period__item(href="#") Monthly
        a.subscription-period__item(href="#") Quartarly
        a.subscription-period__item(href="#") Yearly
      div.pricing__price-wrapper
        div.price
          p.price__tariff-name Basic
          p.price__tariff-price Free
          div.price__tariff-option-wrapper
            p.price__tariff-option Up to 5 Users Monthly
            p.price__tariff-option 100% Satisfaction
            p.price__tariff-option Undates Available
            p.price__tariff-option No Support
          a.price__button(href="#") Get Started
        div.price
          p.price__tariff-name professional
          p.price__tariff-price &#36;29
            span.price__tariff-price_period / Month
          div.price__tariff-option-wrapper
            p.price__tariff-option Up to 15 Users Monthly
            p.price__tariff-option 100% Satisfaction
            p.price__tariff-option Undates Available
            p.price__tariff-option 24/7 Support
          a.price__button(href="#") Get Started
        div.price
          p.price__tariff-name enterprise
          p.price__tariff-price &#36;49
            span.price__tariff-price_period / Month
          div.price__tariff-option-wrapper
            p.price__tariff-option Up to 5 Users Monthly
            p.price__tariff-option 100% Satisfaction
            p.price__tariff-option Undates Available
            p.price__tariff-option No Support
          a.price__button(href="#") Get Started    
           	
