section.services
  div.content
    div.services__inner
      div.title-wrapper
        h2.title We Design your Landing Page to get High Conversion Rate 
      div.services-container
        div.service
          div.service__icon-inner
            i.fa.fa-bullhorn(aria-hidden="true")
          h3.subtitle Start Your Campaign
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua
        div.service
          div.service__icon-inner.service__icon-inner_violet
            i.fa.fa-user(aria-hidden="true")
          h3.subtitle Engage More Users
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua
        div.service
          div.service__icon-inner.service__icon-inner_orange
            i.fa.fa-gift(aria-hidden="true")
          h3.subtitle Claim Your Reward
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua        