section.testimonials
  div.content
    div.testimonials__inner
      div.title-wrapper
        h2.title Client Testimonials
      div.testimonials__sl
        div.testimonials__sl-slide
          div.client-testimonial
            div.client-testimonial__photo-wrapper
              img.client-testimonial__photo(src="images/client-photo.jpg" alt="Client photo")
            p.client-testimonial__description.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse.
            p.client-testimonial__position Mike Bhand, CEO, Company
        div.testimonials__sl-slide
          div.client-testimonial
            div.client-testimonial__photo-wrapper
              img.client-testimonial__photo(src="images/client-photo.jpg" alt="Client photo")
            p.client-testimonial__description.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse.
            p.client-testimonial__position Mike Bhand, CEO, Company    
            
