.testimonials {
    width: 100%;
    &__inner {
        padding: 95px 0 89px 0;
    }
}

.testimonials__sl {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-top: 70px;
    overflow: hidden;
    .slick-list {
        height: 100%;
        .slick-slide {
            height: 100%;
        }
    }    
}

.client-testimonial {
    width: 100%;
    max-width: 843px;
    margin: 0 auto;
    text-align: center;
    &__photo-wrapper {
        width: 112px;
        height: 110px;
        max-width: 112px;
        max-height: 110px;
        margin: 0 auto;
        border: 3px $blue solid;
        border-radius: 50%;
        overflow: hidden;
    }
    &__photo {
        width: 109px;
        height: 107px;
        max-width: 109px;
        max-height: 107px;
    }
    &__description {
        margin: 35px 0 25px 0;
    }
    &__position {
        font-weight: 700;
    }
}
.perv, .next {
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background-color: #f1f1f1;
    border-radius: 3px;
    font-size: 20px;
    color: $black;
    z-index: 100;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: $gray;
        transition: .5s;
    }
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media(max-width: 925px) {
    .perv, .next {
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 380px) {
    .testimonials__inner {
        padding: 50px 0;
    }
}